.boardContainer {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 2em;
}
.board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.col {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-basis: 30%;
  margin: 10px;
  padding: 20px;
  max-width: 360px;
}

.col h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.addButton {
  background-color: transparent;
  border: 1px solid #666;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.addButton:hover {
  background-color: #0047ba;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .board {
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex-basis: 80%;
    max-width: none;
  }
}
